
.projects {
width: 50%;
height: 100%;
}

.projects ul {
display: flex;
height: 100%;
align-content: flex-start;
align-items: flex-start;
}

.projects li {
display: flex;
align-items: flex-start;
justify-content: center;
padding: 15px 0;
width: 100%;
min-height: 50px;
}

.projects li .project_desc{
    width:40%;
}
.projects li .project_icons{
    width:40%;
}

.project_icons {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    height: 50px;
}

.project_icons i{
    height: 100%;
    padding: 5px 10px;
    font-size: 20px;
}

a{
    text-decoration: none;
    color: #333;
    padding-bottom: 5px;

}

a:hover{
    border-bottom: 2px solid #333;
}

@media (max-width: 600px) {
    .projects {
        width: 100%;
        height: 100%;
        }
        
        .projects ul {
        display: flex;
        height: 100%;
        align-content: flex-start;
        align-items: flex-start;
        }
        
        .projects li {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        padding: 15px 0;
        width: 100%;
        min-height: 50px;
        }
        
        .projects li .project_desc{
            width:100%;
        }
        .projects li .project_icons{
            width:40%;
        }
        
        .project_icons {
            display: flex;
            align-items: center;
            justify-content: center;
            box-sizing: border-box;
            height: 50px;
        }
        
        .project_icons i{
            height: 100%;
            padding: 5px 10px;
            font-size: 20px;
        }
          }